/* --------------------------------------------------------------------------
 *  YouToMe Stylesheet - Table of Content

    1 - General

    2 - Header

    3 - Content
    3.1 - Dialogues

    4 - Footer

    5 - Widgets / Shortcodes / Components

    6 - Helper Classes

 * -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
 * 3 - Content
 * -------------------------------------------------------------------------- */

/* 3.1 - Dialogues
/* ========================================================================== */

.dialogue-count{
    border-bottom:solid 1px #ccc;
    color: #666;
}
.dialogue-item{
    overflow: hidden;
    float: left;
    width: 100%;
    height: 104px;
    margin-bottom: 12px;
    font: normal 14px Calibri;
    background: #eef4f6;
    padding: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}
.dialogue-item.active{
    background: #181818;
}
.dialogue-user-avatar{
    float:left;
    width: 80px;
    height:80px;
    margin-right: 10px;
}
.dialogue-user-name{
    display: block;
    margin-top: -5px;
    font-size: 16px;
}
.dialogue-item .dialogue-user-name{
    color: #0963ab;
}
.dialogue-message{
    overflow: hidden;
    height:35px;
    margin:5px 0 10px;
    font-size:14px;
    color:#333;
}
.dialogue-item.active .dialogue-message{
    color:#ccc;
}
.dialogue-message-from{
    margin: 0;
    display: inline-block;
    color:#333;
}
.dialogue-item.active .dialogue-message-from{
    color:#777;
}
.dialogue-time{
    color:#999
}