$bg: #F7F7F7;
$w: #FFFFFF;
$c: #CCCCCC;
$g3: #333333;
$g6: #666666;
$g9: #999999;
$f5: #f5f5f5;
$f7: #f7f7f7;
$f9: #f9f9f9;
$blue: #348ad3;
$hBlue: #378cd3;
$blackBlue: #041f3a;
$liteBlue: #DCF0FC;
$darkBlue: #455376;
$linkBlue: #233c7a;
$green: #197b30;
$titleGreen: #11753b;
$asideRank: #DACFF0;
$non-visited: #233C7A;
$visited: #4C3799;
$magenta: #a62b70;

$s1: 180px;

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, main {display: block;}
body{background: $bg; padding: 0; margin: 0; font-family: Calibri;}
.wrapper {width: 90%; margin: 0 auto; min-width: 1000px;/* border: 1px solid #fa8072;*/}
.left{float: left;}
.right{float: right;}
.rubber{width: 100% !important;}
.align.left{float: none; text-align: left;}
.align.right{float: none; text-align: right;}
.center{text-align: center;}
.m-after{margin-bottom: 10px;}
.noHover:hover{text-decoration: none !important;}
.clear{clear: both;}
a:link, a:visited {text-decoration: underline; color: $non-visited;}
a:visited {color: $visited;}
a:hover, a:active {text-decoration: none;}
div{margin: 0; padding: 0;}
hr{border: 0; border-top: 1px solid $c;}
*::selection {}
*::-moz-selection {}
.header-title {
	font-family: RobotoLight;
	margin: 0.4em 0;
}
h1{
	@extend .header-title;
	font-size: 30px;
}
h2{
	@extend .header-title;
	font-size: 24px;
}
h3{
	@extend .header-title;
	font-size: 20px;
}
p{
	font-size: 16px;
}
.a-header{
	color: $hBlue;
	font-family: RobotoLight;
	text-decoration: none !important;
	&:hover{
		text-decoration: underline !important;
	}
}

.liteDashed {border-bottom: 1px dashed $g9; color: $g9; cursor: pointer;}

.header {margin-top: 20px;}
.logo {background: url('../img/logo.png'); width: 285px; height: 58px; display: block;}
.user_status {@extend .liteDashed; display: inline-block; float: right; font-family: Calibri;}

/**
  * navigation
*/
.nav {
    padding: 10px 0;
}
.nav_item {
    width: 16%;
    display:
    inline-block;
    height: 25px;
    padding-top: 5px;
    color: $w !important;
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    background: -webkit-linear-gradient(top,  #3694e3 0%,#3283C7 100%);
	background: linear-gradient(to bottom,  #3694e3 0%,#3283C7 100%);
    border-radius: 5px;
    text-decoration: none !important;
        &:hover{
            background: -webkit-linear-gradient(top,  #147fe3 0%, #1f58c7 100%);
        }
}
.nav_space {
    width: 0.8%;
    display: inline-block;
}

/**
  * gallery
*/
.index-gallery{
    width: 100%;
    background: #BDDBF4;
}
.gallery-img{
  width: 8%;
}
.gallert-space{width: 0.3636363636363636%; display: inline-block;}
.wrapper-gallery {
    padding: 10px 0 6px 0;
}

/**
  * design blocks
*/
.aside{
    width: 200px;
}
.left-aside {
    @extend .aside;
    @extend .left;
}
.right-aside {
    @extend .aside;
    @extend .right;
}
.content {
    background: #e4ddc5;
    margin: 0 210px;
}
.container{
    margin: 10px 0;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.site-block{
    background: $w;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}


/**
	* forms
*/
.d-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}
.inputs{
	@extend .d-block;
	color: $g3;
	font-family: Calibri;
	font-size: 14px;
	border-radius: 3px;
	outline: none;
	border: 1px solid $c;
	padding: 5px;
	margin-bottom: 4px;
	&:focus{
		border-color: #ffd700;
	}
}
.ytm-text-inputs {
	@extend .inputs;
	width: 168px;
}
.date-controll{
	@extend .inputs;
	display: inline-block;
}
.ytm-text-inputs-day{
	@extend .date-controll;
	width: 44px;
	padding-right: 0;
	padding-left: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.ytm-text-inputs-month{
	@extend .date-controll;
	width: 81px;
	padding-right: 0;
	padding-left: 2px;
	border-radius: 0;
	border-width: 1px 0;
}
.ytm-text-inputs-year{
	@extend .date-controll;
	width: 55px;
	padding-right: 0;
	padding-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.ytm-text-inputs-date,.ytm-text-check-label{
	@extend .d-block;
}

.ytm-text-check{}
.ytm-text-check-label{
	color: $g9;
	font-family: Calibri;
	font-style: italic;
	font-size: 12px;
}

.ytm-button-action{
	@extend .d-block;
	width: 180px;
	height: 30px;
	margin-top: 5px;
	border-radius: 3px;
	border: 0;
	background: rgb(30,119,195); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,119,195,1) 0%, rgba(8,85,150,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,119,195,1)), color-stop(100%,rgba(8,85,150,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,119,195,1) 0%,rgba(8,85,150,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,119,195,1) 0%,rgba(8,85,150,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,119,195,1) 0%,rgba(8,85,150,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,119,195,1) 0%,rgba(8,85,150,1) 100%); /* W3C */
	color: $w;
	font-size: 14px;
	font-family: Roboto;
	cursor: pointer;
}
.ytm-action-url{
	/*sth magical*/
	display: inline-block;
	font-size: 14px;
	text-align: right;
	color: $blue !important;
}




/**
  * navigation
*/
.navigation-menu {
	margin-bottom: 20px;
	.navigation-menu-item{}
}

/**
  * profile part
*/
.avatar-img{
    width: $s1;
    height: $s1;
}
.-avatar-label{
    padding: 10px 5px;
    height: 14px;
    position: absolute;
    margin-top: -38px;
    width: 170px;
}
.avatar-label-bg{
    @extend .-avatar-label;
    background: $blue;
    opacity: 0.5;

}
.avatar-label{
	@extend .-avatar-label;
	color: $w;
	font-family: RobotoMediumItalic;
    font-size: 14px;
    text-align: center;
}
.user-p-m-item {
	display: block;
	font-family: RobotoLight;
	color: $blackBlue;
	text-decoration: none !important;
	font-size: 12px;
	padding: 3px;
	border-radius: 3px;
	&:hover{
		background: $liteBlue;
	}
}
.block-title {
	font-size: 18px;
	text-align: center;
	color: $blackBlue;
	font-family: RobotoMedium;
	padding-bottom: 10px;
}
.block-title-info {
	font-size: 12px;
	text-align: right;
	color: $g3;
	font-family: RobotoMediumItalic;
}


/**
  * profile page
*/
.profile {}
.profile-avatar{}
.profile-display{
	display: inline-block;
	vertical-align: top;
}
.profile-space {
	@extend .profile-display;
	width: 1%;
}
.profile-left {
	@extend .profile-display;
	width: 32%;
}
.profile-right {
	@extend .profile-display;
	width: 67%;
}
.profile-block-header {
	width: auto;
	border-top: 1px solid $c;
	/*display: table-cell;*/
	background: $f7;
	padding: 3px 0 5px 10px;
	font-weight: bold;
	color: $g6;
}
.profile-img-item{
	@extend .profile-display;
	width: 49%;
	vertical-align: top;
	margin-top: 10px;
}
.profile-img{
	width: 100%;
	display: block;
}
.profile-text{
	display: block;
	text-align: center;
	font-size: 12px;
	color: $hBlue !important;
	padding-top: 5px;
}
.profile-item-space{
	@extend .profile-display;
	width: 2%;
}
.more{
	color: $g9 !important;
	font-size: 12px;
	text-decoration: underlinen;
	display: block;
	text-align: center;
}
.profile-block{
	margin-bottom: 20px;
	.more{
		margin-top: 10px;
		margin-bottom: 20px;
	}
}
.profile-action{
	font-size: 12px;
	color: $g6;
	cursor: pointer;
}
.profile-name {
	font-weight: bold;
	font-size: 20px;
	color: $magenta;
}
.profile-rank{
	color: $darkBlue;
	float: right;
	font-size: 14px;
	font-weight: bold;
}
.profile-last-visit{
	font-size: 12px;
	font-family: "Calibri";
	color: rgb( 69, 83, 118 );
	font-style: italic;
	text-align: left;
	margin-top: 5px;
}




/**
  * tags cloud
*/
.tags-cloud-box{
	text-align: justify;
}
.tags-cloud{
	color: $green;
	font-family: Roboto;
}
.tSize01{font-size: 10px;}
.tSize02{font-size: 12px;}
.tSize03{font-size: 14px;}
.tSize04{font-size: 15px;}
.tSize05{font-size: 16px;}
.tSize06{font-size: 17px;}
.tSize07{font-size: 18px;}
.tSize08{font-size: 19px;}
.tSize09{font-size: 20px;}
.tSize10{font-size: 22px;}
.tSize11{font-size: 24px;}
.tSize12{font-size: 28px;}
.tSize13{font-size: 30px; font-family: RobotoLight; line-height: 90%;}
.tSize14{font-size: 36px; font-family: RobotoLight; line-height: 90%;}
.tSize15{font-size: 40px; font-family: RobotoLight; line-height: 90%;}
.tSize16{font-size: 48px; font-family: RobotoLight; line-height: 90%;}
.tSize17{font-size: 60px; font-family: RobotoLight; line-height: 90%;}


/**
  * rank block
*/
.aside-rank {
	display: block;
	font-family: Calibri;
	font-size: 14px;
	color: $g3 !important;
	min-height: 20px;
	padding-bottom: 7px;
}
.aside-rank-count{
	@extend .right;
	padding: 2px 5px;
	border-radius: 3px;
	font-size: 12px;
	background: $asideRank;
	width: 35px;
	text-align: center;
}

/**
  * advertisement
*/
.ad-block{
	padding-bottom: 10px;
}
.ad-title{
	color: $titleGreen;
	font-size: 16px;
	font-family: Roboto;
	padding-bottom: 5px;
}
.ad-text{
	color: $g3;
	font-size: 14px;
}
.ad-hlink{
	color: $linkBlue;
	font-size: 14px;
}



/**
  * index content
*/
.media-container{
	text-align: justify;
}
.media-container-img{
	width: 16%;
}
.media-container-video{
	width: 16%;
	/**/
}
.media-container-video-a{
	/*&:after{
		content: '';
		width: 16%;
		height: 160px;
		display: inline-block;
		position: absolute;
		margin-left: -16%;
		background: rgba(45,234,53,0.6);
	}*/
}



/**
  * footer
*/
.footer{
    border-top: 1px solid $c;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 60px;
}
.footer-right{
    @extend .right;
    color: $g6;
    font-family: RobotoLight;
    font-size: 14px;
}
.footer-left{
    @extend .left;
}
.footer-menu-item{
    color: $g6 !important;
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none !important;
    border-bottom: 1px solid $g6;
    margin-right: 20px;
    &:hover{
        border-bottom: none;
    }
}

@font-face {font-family: Calibri; src: url('../fonts/Calibri.ttf');}
@font-face {font-family: CalibriLight; src: url('../fonts/Calibri-Light.ttf');}
@font-face {font-family: Roboto; src: url('../fonts/Roboto-Regular.ttf');}
@font-face {font-family: Roboto; font-style: italic; src: url('../fonts/Roboto-Italic.ttf');}
@font-face {font-family: RobotoLight; src: url('../fonts/Roboto-Light.ttf');}
@font-face {font-family: RobotoMedium; src: url('../fonts/Roboto-Medium.ttf');}
@font-face {font-family: RobotoMediumItalic; src: url('../fonts/Roboto-MediumItalic.ttf');}

